@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rowdies:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @layer base {
    :root {
      --background: 0 0% 98%;
      --foreground: 224 71.4% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;
      --primary: 262.1 83.3% 57.8%;
      --primary-foreground: 210 20% 98%;
      --secondary: 225 7% 77%;
      --secondary-foreground: 220.9 39.3% 11%;
      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;
      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;
      --border: 220 13% 90%;
      --input: 220 13% 91%;
      --ring: 262.1 83.3% 57.8%;
      --radius: 0.5rem;
      --footer: 225 10% 92%;
      --footer-foreground: 0 0% 0%;
    }

    .dark {
      --background: 60 2% 9%;

      --foreground: 210 20% 98%;
      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;
      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;
      --primary: 263.4 70% 50.4%;
      --primary-foreground: 210 20% 98%;
      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;
      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 263.4 70% 50.4%;
      --footer: 221 87% 6%;
      --footer-foreground: 0 0% 100%;


    }
  }

}


/* Custom scrollbar styles */
/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bebcbc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6200ff75;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* font  */
.aclonica {
  font-family: 'Aclonica', sans-serif;
}

.general_font {
  font-family: "Nunito", sans-serif;
}

.heading_font {
  font-family: "Rawdies", sans-serif;

}

.section-title {
  @apply text-3xl md:text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 mb-12 xl:mb-16 text-center mx-auto text-primary font-general_font border-b-2 border-primary/50
}

.section-logo {
  @apply text-[2.5rem] md:text-5xl text-primary drop-shadow-lg
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  @apply bg-primary;
}



@media (max-width: 420px) {
  .tablist {
    @apply flex-col h-full bg-transparent gap-y-5
  }

  .trigger {
    @apply py-[.3rem]
  }
}

@keyframes wave {

  0%,
  25%,
  100% {
    transform: rotate(45deg);
  }

  12.5%,
  37.5% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes shake {

  0%,
  100% {

    transform: translateX(0);
  }

  12.5%,
  37.5% {
    transform: translateX(-2px);
    /* Move to the left */
  }

  62.5%,
  87.5% {
    transform: translateX(2px);
    /* Move to the right */
  }
}


@keyframes pulse {
  0% {

    color: var(--foreground);
  }

  25%,
  50% {
    color: green;
    /* Move to the left */
  }

  100% {
    color: var(--foreground);
  }
}

.animate-live-link {
  animation: pulse 5s ease-in-out infinite;
}

.animate-shake {
  animation: shake 1s ease-in-out infinite;
}




/* button animations  */

.btn {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  display: flex;
  transition: all .4s ease-in-out;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.119));

}

.btn_span {
  color: white;
  z-index: 10;


}

.btn::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background: linear-gradient(to right, #6D28D9, #CF425A);

  border: .5px solid rgba(255, 255, 255, 0.663);
  box-shadow: 3px 3px 30px 7px white;
  display: block;
  overflow: hidden;
  border-radius: 200%;
  transform: translateY(-175%);
  transition: all .6s ease-in-out;
  z-index: -1;

}

.btn:hover {
  background-color: transparent !important;
  
}

.btn:hover::before {
  border-radius: 0%;
  transform: translateY(0%);
  z-index: 12;

}

.btn:hover .btn_span {

  z-index: 100;
  color: white;
}